@font-face {
            font-family: 'fontello';
            src: url('https://raw.githack.com/SergeiDragun/Sergei_Dragun/master/fontello.eot');
            src: url('https://raw.githack.com/SergeiDragun/Sergei_Dragun/master/fontello.eot#iefix') format('embedded-opentype'),
                url('https://raw.githack.com/SergeiDragun/Sergei_Dragun/master/fontello.woff2') format('woff2'),
                url('https://raw.githack.com/SergeiDragun/Sergei_Dragun/master/fontello.woff') format('woff'),
                url('https://raw.githack.com/SergeiDragun/Sergei_Dragun/master/fontello.ttf') format('truetype'),
                url('https://raw.githack.com/SergeiDragun/Sergei_Dragun/master/fontello.svg#fontello') format('svg');
            font-weight: normal;
            font-style: normal;
        }



        [class^="icon-"]:before, [class*=" icon-"]:before {
            font-family: "fontello";
            font-style: normal;
            font-weight: normal;
            display: inline-block;
            text-decoration: inherit;
            width: 1em;
            margin-right: .2em;
            text-align: center;
        }

            

